[package]
name = "pam-ssh-agent"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/nresare/pam-ssh-agent"
description = """
A PAM module that authenticates using the ssh-agent.
"""

[lib]
crate-type = ["dylib"]

[dependencies]
ssh-agent-client-rs = "0.3.0"
getrandom = "0.2.9"
bytes = "1.4.0"
ssh-key = { version = "0.5.1", features = ["rsa", "dsa", "ed25519", "ecdsa", "p256", "p384"] }
# we need the signature that ssh-key uses
signature = "1.6.4"

